Kivy==2.1.0
kivymd==1.1.1
SpeechRecognition==3.8.1
elevenlabs==0.2.21
langchain
openai==0.27.8
requests==2.22.0
urllib3==1.25.8
beautifulsoup4==4.9.3
scapy==2.4.5
nltk==3.6.2
pytube==15.0.0
pdfplumber
